clientData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- Definition des Inhalts -->
  <xsd:element name="content">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="url" type="xsd:anyURI"/>
        <xsd:element name="tags">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
